html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFF;
}

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mode-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.mode-picker button {
  background: #fcfcfc;
  margin: 15px;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 0px;
}

.mode-picker .selected {
  -webkit-box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
}

#legend {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  -ms-flex-item-align: left;
      align-self: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#legend div {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#legend div button {
  width: 40px;
  margin: 4px;
}

#main-content {
  width: 95vw;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#morseButton {
  width: 100px;
  height: 100px;
  margin: 30px;
  border-radius: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#morseButton.showPaddles {
  width: 239px;
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

.paddle {
  font-size: 60px;
  width: 100px;
  height: 100px;
  background: goldenrod;
  margin: 0px;
  border: 0px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.paddle#left {
  border-radius: 20% 0 0 20%;
}

.paddle#right {
  border-radius: 0 20% 20% 0;
}

.paddle.showPaddles {
  width: 250px;
  height: 100px;
}

.paddle#left.showPaddles {
  margin-right: 7px;
}

.paddle#right.showPaddles {
  margin-left: 7px;
}

#challengeWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 40px;
  font-family: 'Courier';
  font-weight: bold;
  background: #EEE;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
}

#challengeWord span {
  padding: 4px;
  margin: 1px;
}

.strike {
  text-decoration: line-through;
}

#morseBufferDisplay, #challengeBufferDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid green;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#morseBufferDisplay #alphanumeric-container, #challengeBufferDisplay #alphanumeric-container {
  padding-left: 5px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#morseBufferDisplay #alphanumeric-container #alphanumeric, #challengeBufferDisplay #alphanumeric-container #alphanumeric {
  font-size: 40px;
  font-family: 'Courier';
  font-weight: bold;
  background-color: transparent;
}

#morseBufferDisplay #alphanumeric-container #alphanumeric:first-child, #challengeBufferDisplay #alphanumeric-container #alphanumeric:first-child {
  padding-left: 5px;
  padding-right: 5px;
}

#morseBufferDisplay #ditDahs, #challengeBufferDisplay #ditDahs {
  width: 50%;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#morseBufferDisplay #ditDahs .ditDah, #challengeBufferDisplay #ditDahs .ditDah {
  background: #DDD;
  height: 40px;
  width: 30px !important;
  margin-left: 3px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  font-family: 'Courier';
  font-weight: bold;
}

.space {
  font-size: 20px;
}

.morseError {
  background: rgba(255, 0, 0, 0.4);
  color: #780000;
  border-radius: 5px;
}

.correct {
  background: rgba(0, 255, 0, 0.4);
  border-radius: 5px;
}

#morseDisplay {
  /* border: 1px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#morseDisplay .morseCard:nth-child(1) {
  opacity: 100%;
}

#morseDisplay .morseCard:nth-child(2) {
  opacity: 70%;
}

#morseDisplay .morseCard:nth-child(3) {
  opacity: 50%;
}

#morseDisplay .morseCard:nth-child(4) {
  opacity: 30%;
}

#morseDisplay .morseCard:nth-child(5) {
  opacity: 10%;
}

.morseCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* border: 1px solid orange; */
  margin-bottom: 2px;
  font-size: 2.5rem;
  font-family: 'Courier';
  font-weight: bold;
  /* width: 100%; */
}

.morseCard div div {
  cursor: default;
  padding: 5px;
  margin: 3px;
  background: #EEE;
  white-space: nowrap;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  line-height: 2rem;
}

.morseCard .ditDahs-container, .morseCard .alphanumeric-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.morseCard .ditDahs-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.morseCard .ditDahs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: break-word;
}
/*# sourceMappingURL=App.css.map */