@import url("https://fonts.googleapis.com/css?family=Courier+Prime:700|Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  cursor: default;
}

button {
  font-family: #f2f2f2;
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
}

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 3px solid green;
}

header {
  margin-top: 100px;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95vw;
  border: 1px solid red;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mode-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.mode-picker #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px;
}

.mode-picker button {
  background: #f2f2f2;
  color: #333;
  margin: 7px;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
  border: 0px;
  border-radius: 5px;
}

.mode-picker .selected {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px -1px 1px white;
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px -1px 1px white;
}

#legend {
  width: 400px;
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  top: 250px;
  left: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#legend div {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#legend div button {
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 0px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
}

#legend div span {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#morseButton {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
}

#morseButton.showPaddles {
  width: 239px;
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#morseButtonText {
  font-weight: bold;
  color: #ccc;
  font-size: 0.7rem;
  margin-bottom: 40px;
}

#paddleText {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paddle {
  font-size: 1rem;
  color: transparent;
  width: 100px;
  height: 100px;
  background: goldenrod;
  margin: 0px;
  border: 0px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.paddle#left {
  border-radius: 50px 0 0 50px;
}

.paddle#left.showPaddles {
  margin-right: 7px;
  border-radius: 20px 0 0 20px;
}

.paddle#right {
  border-radius: 0 50px 50px 0;
}

.paddle#right.showPaddles {
  margin-left: 7px;
  border-radius: 0 20px 20px 0;
}

.paddle.showPaddles {
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  width: 250px;
  height: 100px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
}

i[class*="ri-"] {
  font-weight: normal;
  font-size: 0.9rem;
  color: #777;
}

i[class*="ri-"]:hover {
  color: goldenrod;
}

#mainOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 400px;
}

#mainOptions .mode-picker {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#mainOptions .mode-picker #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#mainOptions .mode-picker #input {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainOptions .mode-picker #input input {
  width: 50px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 1.3rem;
}

#mainOptions .mode-picker #input select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mainOptions #title {
  font-weight: bold;
}

#challengeWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-size: 3rem;
  font-family: "Courier Prime", monospace;
  font-weight: bold;
  background: #EEE;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#challengeWord span {
  padding: 4px;
  margin: 1px;
  line-height: 2.5rem;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#challengeWord.correct {
  background: rgba(0, 200, 0, 0.7);
}

#morseBufferDisplay {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 150px;
  margin-bottom: 20px;
  font-family: "Courier Prime", monospace;
}

#morseBufferDisplay #alphanumeric-container {
  background: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  height: 50px;
  min-width: 250px;
  margin-bottom: 10px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

#morseBufferDisplay #alphanumeric-container #alphanumeric {
  font-size: 40px;
  background-color: transparent;
}

#morseBufferDisplay #alphanumeric-container #alphanumeric:first-child {
  padding-left: 5px;
  padding-right: 5px;
}

#morseBufferDisplay #alphanumeric-container #alphanumeric span {
  padding: 4px;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

#morseBufferDisplay #ditDahs {
  height: 50px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-family: "Courier", monospace;
  font-weight: bold;
}

#morseBufferDisplay #ditDahs span {
  padding: 4px;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
}

#morseBufferDisplay #ditDahs .ditDah {
  background: #fdfdfd;
  height: 40px;
  width: 30px !important;
  margin-left: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#challengeBufferDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid green;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  font-family: "Courier Prime", monospace;
  font-weight: bold;
}

#challengeBufferDisplay #alphanumeric-container {
  padding-left: 5px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#challengeBufferDisplay #alphanumeric-container #alphanumeric {
  font-size: 40px;
  background-color: transparent;
  margin-bottom: 10px;
}

#challengeBufferDisplay #alphanumeric-container #alphanumeric:first-child {
  padding-left: 5px;
  padding-right: 5px;
}

#challengeBufferDisplay #alphanumeric-container #alphanumeric span {
  padding: 4px;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
}

#challengeBufferDisplay #ditDahs {
  width: 50%;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-family: "Courier", monospace;
  font-weight: bold;
}

#challengeBufferDisplay #ditDahs span {
  padding: 4px;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
}

#challengeBufferDisplay #ditDahs .ditDah {
  height: 40px;
  width: 30px !important;
  margin-left: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space {
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
  opacity: 30%;
}

.morseError {
  background: rgba(255, 0, 0, 0.4);
  color: #780000;
  border-radius: 5px;
}

.correct {
  background: rgba(0, 255, 0, 0.4);
  border-radius: 5px;
}

#morseHistory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#morseHistory .morseCard:nth-child(1) {
  opacity: 100%;
}

#morseHistory .morseCard:nth-child(2) {
  opacity: 85%;
}

#morseHistory .morseCard:nth-child(3) {
  opacity: 70%;
}

#morseHistory .morseCard:nth-child(4) {
  opacity: 55%;
}

#morseHistory .morseCard:nth-child(5) {
  opacity: 40%;
}

#morseHistory .morseCard:nth-child(6) {
  opacity: 20%;
}

#morseHistory .morseCard:nth-child(7) {
  opacity: 10%;
}

.morseCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* border: 1px solid orange; */
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-family: "Courier Prime", monospace;
  /* width: 100%; */
}

.morseCard div div {
  cursor: default;
  padding: 5px;
  margin: 2px;
  background: #fdfdfd;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  line-height: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.morseCard .ditDahs-container, .morseCard .alphanumeric-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  font-weight: bold;
}

.morseCard .ditDahs-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.morseCard .ditDahs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: break-word;
  font-family: "Courier", monospace;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */