@import url("https://fonts.googleapis.com/css?family=Courier+Prime:700|Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  cursor: default;
}

button {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
}

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#header {
  min-height: 50px;
  min-height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  background: #333;
  font-family: "Rubik", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #f1f1f1;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content .sidebar#left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  min-width: 400px;
  width: 400px;
  padding: 1.5em;
  -webkit-box-shadow: inset -3px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -3px 0px 5px rgba(0, 0, 0, 0.2);
}

#main-content .sidebar#right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-width: 500px;
  width: 400px;
  padding: 1.5em;
  right: 0px;
  -webkit-box-shadow: inset 3px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 3px 0px 5px rgba(0, 0, 0, 0.2);
}

#main-content #main-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  min-width: 500px;
  width: 500px;
  position: relative;
}

h2 {
  margin-bottom: 0.5em;
}

i[class*="ri-"] {
  cursor: pointer;
  font-weight: normal;
  font-size: 0.9rem;
  color: #777;
}

#mainOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 95vw;
  height: 200px;
}

#mainOptions .mode-picker {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#mainOptions .mode-picker div {
  padding: 5px;
  height: 2.4em;
}

#mainOptions .mode-picker #title {
  font-weight: bold;
  font-size: 1.08em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainOptions .mode-picker #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainOptions .mode-picker #input {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainOptions .mode-picker #input input {
  width: 50px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 1.3rem;
  font-size: 0.75em;
}

#mainOptions .mode-picker #input select {
  height: 1.4rem;
}

#mainOptions .mode-picker #input button {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

#mainOptions .mode-picker #input button i {
  position: relative;
  left: -1px;
  font-size: 1.1em;
  font-weight: bold;
}

#mainOptions .mode-picker button {
  background: #f1f1f1;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
  border-radius: 3px;
  border: 0px;
  padding: 0.3em;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.75em;
  color: #333;
}

#mainOptions .mode-picker button.selected {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px -1px 1px white;
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px -1px 1px white;
}

#legend {
  background: #f1f1f1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#legend #legend-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#legend #legend-items .item {
  border: 1px solid #ccc;
  margin: 1px;
  width: 19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#legend #legend-items .item button {
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 0px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
}

#legend #legend-items .item button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

#legend #legend-items .item span {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#morseButton {
  width: 400px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
  -webkit-transition: width 500ms ease-out, background 500ms ease-out, -webkit-transform 40ms ease-out, -webkit-box-shadow 40ms ease-out;
  transition: width 500ms ease-out, background 500ms ease-out, -webkit-transform 40ms ease-out, -webkit-box-shadow 40ms ease-out;
  transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out;
  transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out, -webkit-transform 40ms ease-out, -webkit-box-shadow 40ms ease-out;
}

#morseButton.active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

#morseButton button {
  font-size: 1rem;
  color: transparent;
  width: 200px;
  height: 60px;
  background: #f4f4f4;
  margin: 0px;
  border: 0px;
  -webkit-transition: width 500ms ease-out, background 500ms ease-out, color 500ms ease-out, -webkit-transform 40ms ease-out, -webkit-box-shadow 40ms ease-out;
  transition: width 500ms ease-out, background 500ms ease-out, color 500ms ease-out, -webkit-transform 40ms ease-out, -webkit-box-shadow 40ms ease-out;
  transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out, color 500ms ease-out;
  transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out, color 500ms ease-out, -webkit-transform 40ms ease-out, -webkit-box-shadow 40ms ease-out;
}

#morseButton button.showPaddles {
  color: #888;
  font-size: 1rem;
  font-weight: bold;
  width: calc($button-height+5px);
  height: 60px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
}

#morseButton button#left {
  border-radius: 5px 0 0 5px;
}

#morseButton button#left.showPaddles {
  margin-right: 7px;
  border-radius: 5px;
}

#morseButton button#right {
  border-radius: 0 5px 5px 0;
}

#morseButton button#right.showPaddles {
  margin-left: 7px;
  border-radius: 5px;
}

#morseButton button.active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

#morseButton.showPaddles {
  width: 134px;
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
}

#morseButtonText {
  font-weight: bold;
  color: #aaa;
  font-size: 0.7rem;
  margin-bottom: 40px;
}

#paddleText {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes hideOverlay {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes hideOverlay {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#challenge-overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#challenge-overlay.fade {
  -webkit-animation: hideOverlay 1s ease-out forwards;
          animation: hideOverlay 1s ease-out forwards;
}

#challenge-overlay.hide {
  z-index: -100;
}

#challenge-overlay #challengeReady {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  height: 250px;
  background: #fefefe;
  margin-top: 150px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#challenge-overlay #challengeReady #message {
  font-size: 2em;
  font-weight: bold;
}

#challenge-overlay #challengeReady #count {
  font-size: 4.5em;
  font-weight: bold;
}

#challenge-overlay #challengeReady.starting {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#challenge-overlay #challengeReady button {
  background: #f1f1f1;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
  border-radius: 3px;
  border: 0px;
  padding: 0.3em;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.75em;
  color: #333;
  max-width: 250px;
}

#challenge-overlay #challengeReady button#startChallenge {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em;
}

#challenge-overlay #challengeReady button.selected {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px -1px 1px white;
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px -1px 1px white;
}

#challenge-overlay #challengeReady #challengeOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid blue;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div {
  padding: 5px;
  height: 2.4em;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#title {
  font-weight: bold;
  font-size: 1.08em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#input {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#input input {
  width: 50px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 1.3rem;
  font-size: 0.75em;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#input select {
  height: 1.4rem;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#input button {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

#challenge-overlay #challengeReady #challengeOptions .mode-picker div#input button i {
  position: relative;
  left: -1px;
  font-size: 1.1em;
  font-weight: bold;
}

#challengeWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
  font-size: 4rem;
  font-family: "Courier Prime", Courier, monospace;
  font-weight: bold;
  background: #fdfdfd;
  text-transform: uppercase;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#challengeWord .cLetter {
  padding: 4px;
  margin: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3rem;
  display: inline-block;
  padding-top: 10px;
  background: transparent;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
}

#challengeWord .cLetter.correct {
  background: #5ae65a;
  border-radius: 3px;
}

#challengeWord.correct {
  background: #5ae65a;
}

#morseBufferDisplay {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  font-family: "Courier Prime", Courier, monospace;
  position: relative;
}

#morseBufferDisplay #overlay {
  -webkit-box-shadow: inset 20px 0px 20px -5px #f1f1f1;
          box-shadow: inset 20px 0px 20px -5px #f1f1f1;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#morseBufferDisplay #alphanumeric-container {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
  padding-top: 10px;
}

#morseBufferDisplay #alphanumeric-container #alphanumeric {
  background: #fdfdfd;
  height: 5rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.45rem;
  font-size: 4rem;
  min-width: 4rem;
  margin-bottom: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px white;
  float: right;
}

#morseBufferDisplay #ditDahs-container {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

#morseBufferDisplay #ditDahs-container #ditDahs {
  height: 50px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-family: "Courier", monospace;
  float: right;
}

#morseBufferDisplay #ditDahs-container #ditDahs .ditDah {
  background: #fdfdfd;
  height: 40px;
  width: 30px !important;
  margin-left: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#challengeBufferDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Courier Prime", Courier, monospace;
  font-weight: bold;
}

#challengeBufferDisplay #alphanumeric-container {
  padding-left: 5px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#challengeBufferDisplay #alphanumeric-container #alphanumeric {
  height: 50px;
  font-size: 3rem;
  font-family: "Courier", monospace;
  float: right;
  background: #fdfdfd;
  margin-left: 3px;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#challengeBufferDisplay #alphanumeric-container #alphanumeric:first-child {
  padding-left: 5px;
  padding-right: 5px;
}

#challengeBufferDisplay #alphanumeric-container #alphanumeric span {
  display: inline-block;
  padding: 4px;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
}

#challengeBufferDisplay #ditDahs {
  height: 50px;
  padding-right: 5px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-family: "Courier", monospace;
}

#challengeBufferDisplay #ditDahs span {
  padding: 5px;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
  background: #fdfdfd;
  height: 40px;
  margin-left: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.space {
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
  opacity: 30%;
}

.morseError {
  background: rgba(255, 0, 0, 0.4);
  color: #780000;
  border-radius: 3px;
}

#morseHistory-textbox {
  background: #ddd;
  border-radius: 5px;
  height: auto;
  width: 90%;
  font-family: Courier;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#morseHistory-textbox span {
  margin: 5px;
  background: #fdfdfd;
  height: 1.5rem;
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
}

#morseHistory {
  border: 1px solid purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 320px;
  position: relative;
  padding-top: 10px;
}

#morseHistory #overlay {
  -webkit-box-shadow: inset 20px 0px 20px #f1f1f1, inset -20px 0px 20px #f1f1f1, inset 0px -100px 100px #f1f1f1;
          box-shadow: inset 20px 0px 20px #f1f1f1, inset -20px 0px 20px #f1f1f1, inset 0px -100px 100px #f1f1f1;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.morseCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4px;
  font-size: 1.6rem;
  font-family: "Courier Prime", Courier, monospace;
}

.morseCard .ditDahs-container, .morseCard .alphanumeric-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  font-weight: bold;
}

.morseCard .alphanumeric-container span {
  padding-top: 0.17em;
}

.morseCard .ditDahs-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 50%;
}

.morseCard div div {
  padding: 3px;
  margin: 2px;
  background: #fdfdfd;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  line-height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.morseCard div div span.morseError {
  background: rgba(255, 0, 0, 0.4);
  height: 1.7rem;
  color: #780000;
  border-radius: 3px;
}

.morseCard .ditDahs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: break-word;
  font-family: "Courier", monospace;
  font-weight: bold;
  max-width: 100%;
  overflow-x: hidden;
}

.morseCard .ditDahs span.space {
  border-radius: 3px;
  background: #f1f1f1;
  opacity: 0.5;
  width: 3px;
  margin-left: 4px;
  margin-right: 4px;
}
/*# sourceMappingURL=App.css.map */