// $main-bg-color-dark: #2c2c2c;
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:700|Rubik&display=swap');
$main-font: 'Rubik', sans-serif;
$buffer-font: 'Courier Prime', Courier, monospace;
// $buffer-font: 'Courier', monospace;
$ditDah-font: 'Courier', monospace;

$main-bg-color-light: #f1f1f1;

$main-font-color-light: #333;

$morseCard-shadow-light: 0px 3px 3px rgba(0, 0, 0, 0.2);
$main-box-shadow-light: 0px 3px 3px rgba(0, 0, 0, 0.3), 0px -1px 1px rgba(255, 255, 255, 1);
$main-box-shadow-light-selected: inset 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 1);
$main-box-shadow-dark: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
$main-box-shadow-dark-selected: inset 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(255, 255, 255, 0.1);

$main-border-radius: 3px;

$border-radius-neumorphic: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
$border-radius-neumorphic-dark: 0px -10px 20px rgba(255, 255, 255, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.4);
$border-radius-neumorphic-active: 0 15px 20px rgba(0, 0, 0, 0.015), inset 0px -2px 5px rgb(255, 255, 255), inset 0px 2px 5px rgba(0, 0, 0, 0.15);
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor: default;
}
button {
    font-family: $main-bg-color-light;
    cursor: pointer;
}
html, body {
    height: 100%;
    width: 100%;
    background: $main-bg-color-light;
    // background: #444;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid green;
}
header {
    margin-top: 50px;
}
#main-content {
    display: flex;
    height: 95vh;
    width: 100%;
    border: 1px solid red;
    justify-content: flex-start;
    align-items: center;

    .sidebar#left {
        border: 1px solid yellowgreen;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        min-width: 400px;
        width: 400px;
        padding: 1.5em;
    }
    .sidebar#right {
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-width: 500px;
        width: 400px;
        padding: 1.5em;
        right: 0px;
    }
    #main-interface {
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
        height: 100%;
        min-width: 500px;
        width: 500px;
    }
}
footer {

}
h2 {
    margin-bottom: 0.5em;
}
i[class*="ri-"] {
    cursor: pointer;
    font-weight: normal;
    font-size: 0.9rem;
    color: #777;
}

#mainOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 95vw;
    height: 200px;
    // border: 1px solid red;
    .mode-picker {
        // border: 1px solid green;
        width: 100%;
        display: flex;
        align-self: flex-start;
        align-content: center;
        justify-content: flex-start;

        div {
            padding: 5px;
            height: 2.4em;
        }

        #title {
            font-weight: bold;
            font-size: 1.08em;
            // border: 1px solid red;
            height: 100%;
            display: flex;
            padding-left: 0px;
            justify-content: flex-start;
            align-items: center;
        }
        #buttons {
            // border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #input {
            margin-left: 10px;
            display: flex;
            align-items: center;
            input {
                width: 50px;
                appearance: textfield;
                text-align: center;
                border-radius: 3px;
                border: 1px solid #ddd;
                height: 1.3rem;
                font-size: 0.75em;
            }
            select {
                height: 1.4rem;
            }
            button {
                width: 20px;
                height: 20px;
                border-radius: 3px;
                // line-height: 10px;
                i {
                    position: relative;
                    left: -1px;
                    // top: -2px;
                    font-size: 1.1em;
                    font-weight: bold;
                }
            }
        }
        button {
            background: $main-bg-color-light;
            box-shadow: $main-box-shadow-light;
            border-radius: $main-border-radius;
            border: 0px;
            padding: 0.3em;
            margin-left: 10px;
            margin-right: 10px;

            font-size: 0.75em;
            color: $main-font-color-light;

            &.selected {
                box-shadow: $main-box-shadow-light-selected;
            }
        }
    }
}


#legend {
    // border: 1px solid orange;
    background: $main-bg-color-light;
    width: 100%;
    // height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;

    #legend-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        
        .item {
            border: 1px solid #ccc;
            margin: 1px;
            width: 19%;
            display: flex;

            button {
                width: 20px;
                height: 20px;
                margin: 4px;
                border: 0px;
                border-radius: 2px;
                box-shadow: $main-box-shadow-light;
                &:active {
                    transform: translateY(3px);
                    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
                }
            }
            span {
                width: 60%;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

$button-height: 60px;
#morseButton {
    width: 400px;
    height: $button-height;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $main-box-shadow-light;
    transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out;
    

    &.active {
        transform: translateY(3px);
        box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    }
    // &:active > button, &.active > button {
    //     transform: translateY(1px);
    // }
    
    button {
        font-size: 1rem;
        color: transparent;
        width: 200px;
        height: $button-height;
        // background: yellow;
        background: #f4f4f4;
        margin: 0px;
        border: 0px;
        // transition: all 20ms ease-out;
        transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out, color 500ms ease-out;
        
        &.showPaddles {
            color: #888;
            font-size: 1rem;
            font-weight: bold;
            width: calc($button-height+5px);
            height: $button-height;
            box-shadow: $main-box-shadow-light;
        }
        &#left {
            border-radius: 5px 0 0 5px;
            &.showPaddles{
                margin-right: 7px;
                border-radius: 5px;
            }
        }
        &#right {
            border-radius: 0 5px 5px 0;
            &.showPaddles{
                margin-left: 7px;
                border-radius: 5px;
            }
        }
        &.active {
            transform: translateY(3px);
            box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
        }
    }
    
    &.showPaddles {
        width: 134px;
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
    }
}
#morseButtonText {
    font-weight: bold;
    color: #aaa;
    font-size: 0.7rem;
    margin-bottom: 40px;
}
#paddleText {
    width: 140px;
    display: flex;
    justify-content: space-around;
}
// #morseButton.mobile {
//     width: 100px;
//     height: 100px;
//     margin-top: 30px;
//     margin-bottom: 10px;
//     // background: goldenrod;
//     border-radius: 50px;
//     align-self: center;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: all 500ms ease-in-out;
//     box-shadow: $main-box-shadow-light;
// }
// #morseButton.showPaddles.mobile {
//     width: 239px;
//     background: transparent;
//     box-shadow: 0px 0px 0px transparent;
// }
// #morseButtonText.mobile {
//     font-weight: bold;
//     color: #bbb;
//     font-size: 0.7rem;
//     margin-bottom: 40px;
// }
// #paddleText.mobile {
//     width: 150px;
//     display: flex;
//     justify-content: space-between;
// }

// .paddle.mobile {
//     font-size: 1rem;
//     color: transparent;
//     width: 100px;
//     height: 100px;
//     background: goldenrod;
//     margin: 0px;
//     border: 0px;
//     transition: all 500ms ease-in-out;
    
//     &#left {
//         border-radius: 50px 0 0 50px;
        
//         &.showPaddles{
//             margin-right: 7px;
//             border-radius: 20px 0 0 20px;
//         }
//     }
//     &#right {
//         border-radius: 0 50px 50px 0;

//         &.showPaddles{
//             margin-left: 7px;
//             border-radius: 0 20px 20px 0;
//         }
//     }
//     &.showPaddles {
//         color: #000;
//         font-size: 2.5rem;
//         font-weight: bold;
//         width: 250px;
//         height: 100px;
//         box-shadow: $main-box-shadow-light;
//     }
// }

    
#challengeWord {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    height: 5rem;
    width: fit-content;
    
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    // padding-top: 10px;

    // border: 1px solid green;
    border-radius: $main-border-radius;
    box-shadow: $main-box-shadow-light;
    
    font-size: 4rem;
    font-family: $buffer-font;
    font-weight: bold;

    background: #fdfdfd;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    
    span {
        padding: 4px;
        margin: 1px;
        transition: background 100ms ease-in-out; //, opacity 100ms ease-in-out;
        display: inline-flex;
        align-items: center;
        line-height: 3rem;
        
        &.correct {
            background: rgba(0,255,0,0.6);
            border-radius: $main-border-radius;
        }
    }
    &.correct {
        background: rgba(0,200,0,0.6);
    }
    
}



#morseBufferDisplay {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    font-family: $buffer-font;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    // font-weight: bold;

    #overlay {
        // background: blue;
        box-shadow: inset 20px 0px 20px -5px $main-bg-color-light;
        position: absolute;
        display: inline-block;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    #alphanumeric-container {
        // border-left: 2px solid #000;
        
        // display: flex;
        
        
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // box-shadow: $morseCard-shadow-light;
        text-align: center;
        max-width: 100%;
        overflow-x: hidden;
        // border: 1px solid red;
        
        #alphanumeric {
            // border: 1px solid blue;
            background: #fdfdfd;
            height: 5rem;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0.45rem;
            font-size:  4rem;
            min-width: 4rem;
            margin-bottom: 10px;
            border-radius: $main-border-radius;
            box-shadow: $main-box-shadow-light;
            float: right;
        }
    }
    #ditDahs-container {
        // display: flex;
        // justify-content: flex-start;
        text-align: center;
        max-width: 100%;
        // border: 1px solid red;
        overflow-x: hidden;

        #ditDahs {
            height: 50px;
            padding-right: 5px;
            // border-right: 2px solid #000;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // border: 1px solid purple;
            font-size: 3rem;
            font-family: $ditDah-font;
            float: right;
            // font-weight: bold;
    
            // span {
            //     padding: $main-border-radius;
            //     transition: background 100ms ease-in-out;
            //     width: 30px;
            //     background: blue;
            // }
    
            .ditDah {
                background: #fdfdfd;
                height: 40px;
                width: 30px !important;
                margin-left: 3px;
                // box-shadow: 0px 1px 0px #000;
                border-radius: $main-border-radius;
                box-shadow: $main-box-shadow-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                
                transition: all 100ms ease-in-out;
            }
            
        }
    }
}

#challengeBufferDisplay {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    font-family: $buffer-font;
    font-weight: bold;

    #alphanumeric-container {
        // border-left: 2px solid #000;
        padding-left: 5px;
        width: 50%;
        display: flex;
        justify-content: center;
        
        #alphanumeric {
            font-size: 40px;
            background-color: transparent;
            margin-bottom: 10px;
            
            &:first-child {
                padding-left: 5px;
                padding-right: 5px;
                // box-shadow: $main-box-shadow;
            }

            span {
                padding: 4px;
                transition: background 100ms ease-in-out;
            }
        }
    }

    #ditDahs {
        width: 50%;
        padding-right: 5px;
        // border-right: 2px solid #000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 25px;
        font-family: $ditDah-font;
        font-weight: bold;

        span {
            padding: 4px;
            transition: background 100ms ease-in-out;
        }
        .ditDah {
            background: #fdfdfd;
            
            height: 40px;
            width: 30px !important;
            margin-left: 3px;
            // box-shadow: 0px 1px 0px #000;
            border-radius: $main-border-radius;
            box-shadow: $main-box-shadow-light;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.space {
    font-size: 20px;
}
.strike {
    text-decoration: line-through;
    opacity: 30%;
}
.morseError {
    background: rgba(255,0,0,0.4);
    color: rgb(120, 0, 0);
    border-radius: $main-border-radius;
    // text-decoration: line-through;
}


// #morseHistory {
//     border: 1px solid purple;
//     padding: 5px;
//     width: 650px;
//     font-family: 'Verdana';
//     font-size: 1.5em;
// }

#morseHistory-textbox {
    // border: 1px solid cyan;
    background: #ddd;
    border-radius: 5px;
    height: auto;
    width: 90%;
    font-family: Courier;
    font-size: 1.5rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    span {
        margin: 5px;
        background: #fdfdfd;
        height: 1.5rem;
        padding: 4px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: $main-border-radius;
        box-shadow: $main-box-shadow-dark;
    }
}

#morseHistory {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    position: relative;
    padding-top: 10px;
    // // padding-bottom: 20px;

    #overlay {
        // background: blue;
        box-shadow: inset 20px 0px 20px $main-bg-color-light, inset -20px 0px 20px $main-bg-color-light, inset 0px -100px 100px $main-bg-color-light;
        position: absolute;
        display: inline-block;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    // #morseCards {
    //     .morseCard:nth-child(1){
    //         opacity: 100%;
    //     }
    //     .morseCard:nth-child(2){
    //         opacity: 85%;
    //     }
    //     .morseCard:nth-child(3){
    //         opacity: 70%;
    //     }
    //     .morseCard:nth-child(4){
    //         opacity: 55%;
    //     }
    //     .morseCard:nth-child(5){
    //         opacity: 40%;
    //     }
    //     .morseCard:nth-child(6){
    //         opacity: 20%;
    //     }
    //     .morseCard:nth-child(7){
    //         opacity: 10%;
    //     }
        // .morseCard:nth-child(8){
        //     opacity: 30%;
        // }
        // .morseCard:nth-child(9){
        //     opacity: 20%;
        // }
        // .morseCard:nth-child(10){
        //     opacity: 10%;
        // }
    // }
}

.morseCard {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    margin-bottom: 4px;
    font-size: 1.6rem;
    font-family: $buffer-font;
    
    .ditDahs-container, .alphanumeric-container {
        display: flex;
        width: 50%;
        font-weight: bold;
        // border: 1px solid green;
    }
    .alphanumeric-container span {
        // background: blue;
        padding-top: 0.17em;
    }
    .ditDahs-container {
        justify-content: flex-end;
        // border: 1px solid red;
        max-width: 50%;
    }

    div div {
        padding: 3px;
        margin: 2px;
        background: #fdfdfd;
        // border: 1px solid cyan;
        // width: 50%;
        white-space: nowrap;
        border-radius: $main-border-radius;
        box-shadow: $morseCard-shadow-light;
        line-height: 1em;
        display: flex;
        
        span.morseError {
            background: rgba(255,0,0,0.4);
            height: 1.7rem;
            // background: blue;
            color: rgb(120, 0, 0);
            border-radius: $main-border-radius;
            // text-decoration: line-through;
        }
    }
    
    .ditDahs {
        // border: 1px solid red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-wrap: break-word;
        font-family: $ditDah-font;
        font-weight: bold;
        max-width: 100%;
        overflow-x: hidden;

        span.space {
            border-radius: $main-border-radius;
            background: $main-bg-color-light;
            opacity: 0.5;
            width: 3px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}