// $main-bg-color-dark: #2c2c2c;
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:700|Asap|Roboto:700|Roboto&display=swap');
// $main-font: 'Asap', sans-serif;
$main-font: 'Roboto', sans-serif;
// $main-font-bold: 'Roboto', sans-serif;
$buffer-font: 'Courier Prime', Courier, monospace;
// $buffer-font: 'Courier', monospace;
$ditDah-font: 'Courier', monospace;

// $main-bg-color-light: #f1f1f1;
$main-bg-color-light: #eee;
$main-font-color-light: #333;
$correct-bg-color: rgba(90,230,90,1);

$morseCard-shadow-light: 0px 3px 3px rgba(0, 0, 0, 0.2);
$main-box-shadow-light: 0px 2px 2px rgba(0, 0, 0, 0.35), 0px -1px 1px rgba(255, 255, 255, 1);
$main-box-shadow-light-selected: inset 0px 2px 2px rgba(0, 0, 0, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 1);
$main-box-shadow-dark: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(255, 255, 255, 0.1);
$main-box-shadow-dark-selected: inset 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(255, 255, 255, 0.1);

$main-border-radius: 3px;

$border-radius-neumorphic: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
$border-radius-neumorphic-dark: 0px -10px 20px rgba(255, 255, 255, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.4);
$border-radius-neumorphic-active: 0 15px 20px rgba(0, 0, 0, 0.015), inset 0px -2px 5px rgb(255, 255, 255), inset 0px 2px 5px rgba(0, 0, 0, 0.15);


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor: default;
}
button {
    font-family: $main-font;
    cursor: pointer;
}
html, body {
    height: 100%;
    width: 100%;
    background: $main-bg-color-light;
    // background: #444;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    // border: 3px solid green;
}
#header {
    // margin-top: 50px;
    min-height: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background: #333;
    font-family: $main-font;
    font-size: 2.5em;
    // font-weight: bold;
    // color: $main-bg-color-light;
    color: rgb(218, 184, 32);
    color: $main-bg-color-light;
    z-index: 1000;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.45);
}
#main-content {
    display: flex;
    height: 95vh;
    min-width: fit-content;
    width: 100%;
    // border: 1px solid red;
    // justify-content: center;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
    position: relative;
    left: 0px;

    .sidebar#left {
        // border: 1px solid blue;
        // background: $main-bg-color-light;
        background: $main-bg-color-light;
        box-shadow: 3px 0px 3px rgba(0,0,0,0.25);
        
        font-family: 'Roboto', sans-serif;
        line-height: 1.5em;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        width: 40%;
        height: calc(100% - 5.1em);
        max-width: 100%;
        min-width: 455px;
        overflow-y: scroll;

        position: fixed;
        top: 50px;
        left: 0px;

        z-index: 100;
        
        transition: all 500ms ease-in-out;

        &.hide {
            left: calc(-40% + 40px);
            top: 50px;
            overflow-y: hidden;

            #sidebar-container #sidebar-content #info {
                opacity: 0%;
                overflow-y: hidden;
            }
        }

        #sidebar-container {
            height: 100%;
            width: 100%;

            .navbar {
                // border-bottom: 1px solid #ccc;
                // margin-top: 200px;
                font-size: 1em;
                line-height: 1em;
                // height: 100px;
                width: 100%;
                height: 35px;
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                font-weight: 550;
                // color: #fff;
                // background: #888;
                // margin-top: 450px;
                // box-shadow: inset 0px 3px 3px rgba(0,0,0,0.3);
    
                
                .nav-item {
                    // border: 1px solid black;
                    padding: 10px;
                    // margin: 10px;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    // position: relative;
                    // overflow: hidden;
                    transition: all 150ms ease-in-out;
                    border-bottom: 2px solid transparent;
                    // border-bottom: 2px;
    
                    &:hover {
                        background: rgba(0, 0, 0, 0.1);
                        border-color: #999;
                    }
                    &.selected {
                        border-color: rgb(80, 128, 144);
                    }
                    &#nav-play {
                        display: none;
                    }
                }
            }
    
            #info-icon {
                width: fit-content;
                height: fit-content;
                position: absolute;
                top: 7px;
                right: 6px;
                z-index: 1010;
                transition: all 100ms ease-in-out;
                &:hover {
                    transform: scale(1.08);
                    i {color: goldenrod;}
                }
                i {
                    color: #333;
                    font-size: 1.7rem;
                    transition: all 100ms ease-in-out;
                }
            }
    
            #sidebar-content {
                // border: 1px solid cyan;
                display: flex;
                justify-content: center;
                align-self: center;
                // height: calc(100% - 35px);
                // height: 100%;
                
                #playerAndLegend {
                    // border: 1px solid fuchsia;
                    padding: 2em;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    overflow-y: scroll;
                    #legend, #playMorseInput, span#note {
                        margin-bottom: 1em;
                    }
                    span#note {
                        font-family: $ditDah-font;
                        color: #555;
                        display: inline-block;
                        width: 65%;
                        text-align: center;
                    }
                }

                #info {
                    // border: 1px solid red;
                    // margin-left: 20px;
                    // padding: 1.5em;
                    height: fit-content;
                    padding: 2.5em;
                    font-family: $main-font;
                    font-size: 1.2rem;
                    line-height: 1.5em;
                    opacity: 100%;
                    // overflow-y: scroll;
                    transition: all 500ms ease-in-out;
    
                    h1, h2 {
                        margin-bottom: 0.3em;
                        // text-transform: uppercase;
                    }
                    .bold {
                        display: inline-block;
                        font-size: 1.15em;
                        font-weight: bold;
                        margin-bottom: 0.1em;
                    }
                    p {
                        margin-bottom: 2em;
                    }
                    img {
                        width: 50%;
                        image-rendering: optimizeSpeed;
                    }
                    i:hover {
                        color: goldenrod;
                    }
                }
            }
        }
    }
    // .sidebar#right {
    //     border: 1px solid green;
    //     background: $main-bg-color-light;
    //     box-shadow: -3px 0px 5px rgba(0,0,0,0.2);
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
        
    //     position: fixed;
    //     top: 0px;
    //     margin-top: 50px;
    //     padding: 1em;
    //     padding-top: 50px;
    //     // left: calc(100vw - 30%);
    //     right: 0;
        
    //     height: calc(100% - 5em);
    //     min-width: 400px;
    //     max-width: 100%;
    //     width: 30%;
        
    //     z-index: 100;
        
    //     transition: all 500ms ease-in-out;
        
    //     #mainOptions {
    //         h1 {
    //             margin-bottom: 0.3em;
    //         }
    //         transition: all 500ms ease-in-out;
    //         opacity: 100%;
    //     }
    //     &.hide {
    //         right: calc(-30% + 43px);

    //         #mainOptions {
    //             opacity: 0%;
    //         }
    //         // top: 50px;

    //         #settings {
    //             transform: rotateZ(270deg);
    //         }
    //     }
    //     #settings-icon {
    //         // border: 1px solid red;
    //         width: fit-content;
    //         height: fit-content;
    //         position: absolute;
    //         top: 10px;
    //         left: 5px;
    //         transition: all 500ms ease-in-out;
    //         transition: transform 200ms ease-in-out;
    //         &:hover {
    //             transform: scale(1.1);
    //             i {color: #333;}
    //         }
    //         i {
    //             font-size: 2rem;
    //         }
    //     }
    // }
    #main-interface {
        // border: 1px solid red;
        
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: flex-start;
        // flex-grow: 1;
        height: 100%;
        // min-width: 600px;
        width: 60%;

        // padding-top: 5em;
        // width: 100%;
        position: relative;
        // padding-top: 30px;
        left: 40%;
        transition: all 500ms ease-in-out;
        &.expandLeft {
            left: 40px;
            width: calc(100% - 40px);
        }

        #mainOptions {
            // border: 1px solid red;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // align-items: flex-start;
            
            height: 6em;
            width: 100%;
            padding: 10px;
            background: rgba(112, 128, 144,0.3);
            box-shadow: inset 0px -2px 2px rgba(0,0,0,0.1);

            font-family: $main-font;
            z-index: 500;

            #options-left, #options-right {
                // border: 1px solid cyan;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: fit-content;

                .mode-picker {
                    // border: 1px solid green;
                    width: fit-content;
                    display: flex;
                    align-content: flex-start;
                    justify-content: flex-start;
                    
                    div {
                        // border: 1px solid blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3px;
                        height: 100%;
                        margin-bottom: 5px;
                    }
                    #title {
                        // border: 1px solid red;
                        justify-content: flex-end;
                        width: 10em;
                        font-weight: bold;
                        font-size: 1.15em;
                        span#range {
                            display: inline-block;
                            padding-left: 5px;
                            font-size: 0.8em;
                        }
                    }
                    #buttons {
                        // border: 1px solid blue;
                        justify-content: space-evenly;
                        // margin-bottom: 20px;
                    }
                    #input {
                        input {
                            width: 50px;
                            height: 1.5rem;
                            border: 1px solid #ddd;
                            appearance: textfield;
                            text-align: center;
                            border-radius: 3px;
                            font-size: 0.8rem;
                        }
                        select {
                            height: 1.4rem;
                        }
                        button {
                            width: 1.4em;
                            height: 1.4em;
                            border-radius: 3px;
                            font-size: 1em;
                            // line-height: 10px;
                            i {
                                position: relative;
                                left: -6px;
                                top: -2px;
                                font-size: 1.1em;
                                font-weight: bold;
                            }
                        }
                    }
                    button {
                        background: $main-bg-color-light;
                        box-shadow: $main-box-shadow-light;
                        border-radius: $main-border-radius;
                        border: 0px;
                        padding: 0.2em;
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        margin-left: 10px;
                        margin-right: 10px;
            
                        font-size: 0.9em;
                        color: $main-font-color-light;
            
                        &.selected {
                            box-shadow: $main-box-shadow-light-selected;
                        }
                    }
                }
            }

            #options-left .mode-picker {
                #title {
                    width: 5em;
                }
            }
        }
    }
}
#footer {
    width: 100%;
    height: 2em;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    background: #333;
    font-family: $main-font;
    font-size: 1em;
    // font-weight: bold;
    color: $main-bg-color-light;
    z-index: 1000;
    a {
        text-decoration: none;
    }
    a:visited {
        color: $main-bg-color-light;
    }
    a:hover {
        color: gold;
    }
}
h2 {
    margin-bottom: 0.5em;
}
i[class*="ri-"] {
    cursor: pointer;
    font-weight: normal;
    font-size: 0.9rem;
    color: #777;
}


#playMorseInput {
    // border: 1px solid #bbb;
    background: #ddd;
    width: 400px;
    height: 10em;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin-bottom: 45px;
    // overflow: hidden;

    
    #input {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        width: auto;

        i {
            // background: blue;
            font-size: 1.3em;
            display: inline-block;
            
            &:hover {
                color: goldenrod;
            }
        }
        input {
            padding-left: 3px;
            border-radius: 3px;
            border: 1px solid #ddd;
            height: 1.5rem;
            font-size: 0.9em;
            width: auto;
        }
    }

    #morseTrans {
        font-size: 0.9em;
        font-family: $ditDah-font;
    }
}

#legend {
    // border: 1px solid orange;
    background: $main-bg-color-light;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #legend-title {
        // border: 1px solid purple;
        margin-left: 2.2em;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.3em;
    }
    #legend-items {
        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        margin-bottom: 10px;
        .item, span {
            cursor: pointer;
        }
        
        // &#letters .item {
        //     width: 17%;
        // }
        // &#numbers .item {
        //     width: 18%;
        // }
        // &#special .item {
        //     width: 20%;
        // }

        .item {
            font-family: $ditDah-font;
            font-size: 0.85em;
            // height: 2em;
            // height: 2em;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            width: 15%;

            margin: 5px;
            padding: 0.3em;
            border: 1px solid #ccc;
            border-radius: 3px;
            transition: all 50ms ease-in-out;
            background: #ddd;

            border: 0px;
            background: $main-bg-color-light;
            box-shadow: $main-box-shadow-light;
            span {
                transition: all 50ms ease-in-out;
            }
            &:active {
                transform: scale(0.95);
                border-color: rgba(112, 128, 144,0.6);
                background: #ddd;
                span:first-child {
                    background: rgba(112, 128, 144,0.6);
                }
            }
            &:hover {
                border-color: rgba(112, 128, 144,0.6);
                background: #ddd;
                span:first-child {
                    background: rgba(112, 128, 144,0.6);
                }
            }

            // button {
            //     width: 20px;
            //     height: 20px;
            //     margin: 4px;
            //     border: 0px;
            //     border-radius: 2px;
            //     box-shadow: $main-box-shadow-light;
            //     &:active {
            //         transform: translateY(3px);
            //         box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
            //     }
            // }
            
            span:first-child {
                display: inline-block;
                padding: 1px;
                width: 1.5em;
                background: #d6d6d6;
                border-radius: 2px;
                font-size: 1.5em;

                transition: all 75ms ease-in-out;
            }
            span:last-child {
                // background: #08c;
                // font-family: $ditDah-font;
                font-weight: bold;
                font-size: 1em;
                display: inline-block;
                padding-left: 5px;
                width: 100%;
            }
        }
    }
}

$button-diameter: 100px;
$button-radius: 50px;
#morseButton {
    
    touch-action: manipulation; // Disable double-tap to zoom on mobile devices

    width: $button-diameter;
    height: $button-diameter;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $main-box-shadow-light;
    transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out;
    

    &.active {
        transform: translateY(3px);
        box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    }
    // &:active > button, &.active > button {
    //     transform: translateY(1px);
    // }
    
    button {
        font-size: 1rem;
        color: transparent;
        width: $button-radius;
        height: $button-diameter;
        // background: yellow;
        background: #f4f4f4;
        margin: 0px;
        border: 0px;
        // transition: all 20ms ease-out;
        transition: transform 40ms ease-out, box-shadow 40ms ease-out, width 500ms ease-out, background 500ms ease-out, color 500ms ease-out;

        &:hover {
            background: rgba(112, 128, 144, 0.2);
        }
        
        &.showPaddles {
            color: #888;
            font-size: 1rem;
            font-weight: bold;
            width: 30px;
            height: $button-diameter;
            box-shadow: $main-box-shadow-light;
        }
        &#left {
            border-radius: $button-radius 0 0 $button-radius;
            width: 50%;
            // background: red;
            &.showPaddles{
                margin-right: 7px;
                border-radius: 20px;
            }
        }
        &#right {
            width: 50%;
            // background: blue;
            border-radius: 0 $button-radius $button-radius 0;
            &.showPaddles{
                margin-left: 7px;
                border-radius: 20px;
            }
        }
        &.active {
            transform: translateY(3px);
            box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
        }
    }
    
    &.showPaddles {
        width: 150px;
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
    }
}
#morseButtonText {
    font-weight: bold;
    color: #aaa;
    font-size: 0.7rem;
}
#paddleText {
    width: 140px;
    display: flex;
    justify-content: space-around;
}
// #morseButton.mobile {
//     width: 100px;
//     height: 100px;
//     margin-top: 30px;
//     margin-bottom: 10px;
//     // background: goldenrod;
//     border-radius: 50px;
//     align-self: center;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: all 500ms ease-in-out;
//     box-shadow: $main-box-shadow-light;
// }
// #morseButton.showPaddles.mobile {
//     width: 239px;
//     background: transparent;
//     box-shadow: 0px 0px 0px transparent;
// }
// #morseButtonText.mobile {
//     font-weight: bold;
//     color: #bbb;
//     font-size: 0.7rem;
//     margin-bottom: 40px;
// }
// #paddleText.mobile {
//     width: 150px;
//     display: flex;
//     justify-content: space-between;
// }

// .paddle.mobile {
//     font-size: 1rem;
//     color: transparent;
//     width: 100px;
//     height: 100px;
//     background: goldenrod;
//     margin: 0px;
//     border: 0px;
//     transition: all 500ms ease-in-out;
    
//     &#left {
//         border-radius: 50px 0 0 50px;
        
//         &.showPaddles{
//             margin-right: 7px;
//             border-radius: 20px 0 0 20px;
//         }
//     }
//     &#right {
//         border-radius: 0 50px 50px 0;

//         &.showPaddles{
//             margin-left: 7px;
//             border-radius: 0 20px 20px 0;
//         }
//     }
//     &.showPaddles {
//         color: #000;
//         font-size: 2.5rem;
//         font-weight: bold;
//         width: 250px;
//         height: 100px;
//         box-shadow: $main-box-shadow-light;
//     }
// }

@keyframes hideOverlay {
    0% { 
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

#challenge-overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    // background-color: rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.75);
    // background-image: linear-gradient(0deg, transparent, rgba(1,1,1,1));
    display: flex;
    justify-content: center;
    // align-items: center;
    
    
    &.fade {
        // animation: hideOverlay 2000ms 1 ease-out forwards;
        animation: hideOverlay 1s ease-out forwards;
    }
    &.hide {
        // animation: hideOverlay 2000ms 1 ease-out forwards;
        z-index: -100;
    }
    
    #challengeReady, #challengeComplete {
        position: relative;
        // width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        width: 45%;
        padding: 1.7em;
        height: 40%;
        background: $main-bg-color-light;
        // background: #fefefe;
        margin-top: 25%;
        border-radius: 5px;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
        border: 3px solid #666;

        #notify-title {
            font-size: 2.5em;
            font-weight: bold;
        }
        #message {
            display: inline-block;
            text-align: center;
            font-size: 1.7em;
        }
        #count {
            font-size: 4.5em;
            font-weight: bold;
        }
        &.starting {
            justify-content: center;
        }
        button {
            background: $main-bg-color-light;
            box-shadow: $main-box-shadow-light;
            border-radius: $main-border-radius;
            border: 0px;
            padding: 0.3em;
            margin-left: 10px;
            margin-right: 10px;
    
            font-size: 0.75em;
            color: $main-font-color-light;
            // max-width: 250px;
            &#startChallenge, &#continue {
                width: 100%;
                font-size: 1.7em;
                font-weight: bold;
                padding: 0.3em;
                background: #666;
                color: gold;
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                
                // &:hover {
                //     text-shadow: 0px 0px 7px rgba(255,255,255,0.3);
                // }
                &:active {
                    transform: translateY(3px);
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
                }
            }
            &.selected {
                box-shadow: $main-box-shadow-light-selected;
            }
        }
        #challengeOptions {
            // border: 1px solid blue;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .mode-picker {
                // border: 1px solid green;
                width: 90%;
                display: flex;
                align-content: center;
                justify-content: flex-start;

                div {
                    padding: 5px;
                    height: 2.4em;
                }
        
                div#title {
                    // border: 1px solid red;
                    font-weight: bold;
                    font-size: 1.4em;
                    height: 100%;
                    // width: 40%;
                    display: flex;
                    padding-left: 0px;
                    justify-content: flex-start;
                    align-items: center;
                }
                div#buttons {
                    // border: 1px solid blue;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;

                    button {
                        font-size: 1rem;
                        // &:hover {
                        //     color: goldenrod;
                        // }
                        // &:active {
                        //     box-shadow: $main-box-shadow-light-selected;
                        // }
                    }
                }
                div#info {
                    // border: 1px solid black;
                    display: flex;
                    align-items: center;
                    font-size: 1.2em;
                    height: 100%;
                }
                div#input {
                    margin-left: 10px;
                    margin-top: 0.25em;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    select {
                        height: auto;
                        // padding: 5px;
                        font-size: 1rem;
                    }

                    // input {
                    //     width: 50px;
                    //     appearance: textfield;
                    //     text-align: center;
                    //     border-radius: 3px;
                    //     border: 1px solid #ddd;
                    //     height: 1.3rem;
                    //     font-size: 0.75em;
                    // }
                    
                    // button {
                    //     width: 20px;
                    //     height: 20px;
                    //     border-radius: 3px;
                    //     // line-height: 10px;
                    //     i {
                    //         position: relative;
                    //         left: -1px;
                    //         // top: -2px;
                    //         font-size: 1.1em;
                    //         font-weight: bold;
                    //     }
                    // }
                }
            }
        }
    }
        
}

#challenge-header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;

    #gameClock {
        font-size: 1.3em;
    }
    #challengeControls {
        button {    
            border: 0px;
            border-radius: 5px;
            padding: 0.3em;
            font-size: 1.2em;
            color: #555;
            &:hover {
                color: maroon;
            }
        }
    }
}

#challengeWord {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    height: 5rem;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 25px;

    // border: 1px solid green;
    border-radius: $main-border-radius;
    box-shadow: $main-box-shadow-light;
    
    font-size: 4rem;
    font-family: $buffer-font;
    font-weight: bold;

    background: #fdfdfd;
    text-transform: uppercase;
    transition: all 100ms ease-in-out;
    
    .cLetter {
        padding: 4px;
        margin: 1px;
        display: inline-flex;
        align-items: center;
        line-height: 3rem;
        display: inline-block;
        padding-top: 10px;
        background: transparent;
        transition: background 100ms ease-in-out; //, opacity 100ms ease-in-out;
        
        &.correct {
            background: $correct-bg-color;
            border-radius: $main-border-radius;
        }
    }
    &.correct {
        background: $correct-bg-color;
    }
    
}

#tip {
    font-size: 2rem;
    color: #aaa;
}

#morseBufferDisplay {
    // border: 1px solid green;
    // background: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    font-family: $buffer-font;
    position: relative;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    // border-bottom: 2px solid rgba(0,0,0,0.1);

    #overlay {
        // background: blue;
        box-shadow: inset 20px 0px 20px -5px #fff;
        position: absolute;
        display: inline-block;
        top:0;
        left: calc(50% - 37.5%);
        width: 600px;
        height: 100%;
        z-index: 40;
    }

    #alphanumeric-container {
        // border: 1px solid red;
        // max-width: 100%;
        // min-width: 300px;
        text-align: center;
        max-width: 75%;
        display: inline-block;
        overflow: hidden;
        padding-top: 10px;
        
        #alphanumeric {
            // border: 1px solid blue;

            height: 5rem;
            padding-top: 0.45rem;
            font-size:  4rem;
            margin-bottom: 10px;
            border-radius: $main-border-radius;
            // box-shadow: $main-box-shadow-light;
            float: right;
        }
    }
    #ditDahs-container {
        // border: 1px solid red;
        text-align: center;
        max-width: 75%;
        display: inline-block;
        overflow: hidden;

        #ditDahs {
            height: 50px;
            padding-right: 5px;
            // border-right: 2px solid #000;
            display: flex;
            flex-direction: row;
            justify-content: center;
            // border: 1px solid purple;
            font-size: 3rem;
            font-family: $ditDah-font;
            float: right;
            // font-weight: bold;
    
            // span {
            //     padding: $main-border-radius;
            //     transition: background 100ms ease-in-out;
            //     width: 30px;
            //     background: blue;
            // }
    
            .ditDah {
                background: #fdfdfd;
                height: 40px;
                width: 30px !important;
                margin-left: 3px;
                // box-shadow: 0px 1px 0px #000;
                border-radius: $main-border-radius;
                box-shadow: $main-box-shadow-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                
                transition: all 100ms ease-in-out;
            }
            
        }
    }
}

#challengeBufferDisplay {
    display: flex;
    justify-content: center;
    // border: 1px solid green;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // height: 150px;
    // margin-top: 10px;
    font-family: $buffer-font;
    font-weight: bold;

    #alphanumeric-container {
        // border-left: 2px solid #000;
        padding-left: 5px;
        width: 50%;
        display: flex;
        justify-content: center;
        
        #alphanumeric {
            // font-size: 40px;
            // background-color: transparent;
            // margin-bottom: 10px;
            
            height: 50px;
            // border: 1px solid purple;
            font-size: 3rem;
            font-family: $ditDah-font;
            float: right;


            background: #fdfdfd;
            margin-left: 3px;
            margin-bottom: 20px;
            // box-shadow: 0px 1px 0px #000;
            border-radius: $main-border-radius;
            box-shadow: $main-box-shadow-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:first-child {
                padding-left: 5px;
                padding-right: 5px;
                // box-shadow: $main-box-shadow;
            }

            span {
                display: inline-block;
                padding: 4px;
                transition: background 100ms ease-in-out;
            }
        }
    }

    #ditDahs {
        // width: 50%;
        // padding-right: 5px;
        // // border-right: 2px solid #000;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // font-size: 25px;
        // font-family: $ditDah-font;
        // font-weight: bold;

        height: 50px;
        padding-right: 5px;
        padding-top: 10px;
        // border-right: 2px solid #000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // border: 1px solid purple;
        font-size: 3rem;
        font-family: $ditDah-font;

        span {
            // background: #fdfdfd;
            
            // height: 40px;
            // width: 30px !important;
            // margin-left: 3px;
            // // box-shadow: 0px 1px 0px #000;
            // border-radius: $main-border-radius;
            // box-shadow: $main-box-shadow-light;
            // display: flex;
            // justify-content: center;
            // align-items: center;

            padding: 5px;
            transition: background 100ms ease-in-out; 
            background: #fdfdfd;
            height: 40px;
            // width: 30px !important;
            margin-left: 3px;
            // box-shadow: 0px 1px 0px #000;
            border-radius: $main-border-radius;
            box-shadow: $main-box-shadow-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            
            transition: all 100ms ease-in-out;
        }
    }
}

.space {
    font-size: 20px;
}
.strike {
    text-decoration: line-through;
    opacity: 30%;
}
.morseError {
    background: rgba(255,0,0,0.4);
    color: rgb(120, 0, 0);
    border-radius: $main-border-radius;
    // text-decoration: line-through;
}


// #morseHistory {
//     border: 1px solid purple;
//     padding: 5px;
//     width: 650px;
//     font-family: 'Verdana';
//     font-size: 1.5em;
// }
#morse-history {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    max-width: 500px;
    #morseHistory-textbox {
        // border: 1px solid cyan;
        background: #f8f8f8;
        border-radius: 5px;
        min-height: 4em;
        width: 100%;
        padding: 0.5em;
        font-family: Courier;
        font-size: 1.5rem;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
    
        span {
            margin: 5px;
            background: #fdfdfd;
            height: 1.5rem;
            padding: 4px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: $main-border-radius;
            box-shadow: $main-box-shadow-dark;
        }
    }
}

#morseHistory {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    position: relative;
    padding-top: 10px;
    // // padding-bottom: 20px;

    #overlay {
        // background: blue;
        box-shadow: inset 20px 0px 20px $main-bg-color-light, inset -20px 0px 20px $main-bg-color-light, inset 0px -100px 100px $main-bg-color-light;
        position: absolute;
        display: inline-block;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    // #morseCards {
    //     .morseCard:nth-child(1){
    //         opacity: 100%;
    //     }
    //     .morseCard:nth-child(2){
    //         opacity: 85%;
    //     }
    //     .morseCard:nth-child(3){
    //         opacity: 70%;
    //     }
    //     .morseCard:nth-child(4){
    //         opacity: 55%;
    //     }
    //     .morseCard:nth-child(5){
    //         opacity: 40%;
    //     }
    //     .morseCard:nth-child(6){
    //         opacity: 20%;
    //     }
    //     .morseCard:nth-child(7){
    //         opacity: 10%;
    //     }
        // .morseCard:nth-child(8){
        //     opacity: 30%;
        // }
        // .morseCard:nth-child(9){
        //     opacity: 20%;
        // }
        // .morseCard:nth-child(10){
        //     opacity: 10%;
        // }
    // }
}

.morseCard {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    margin-bottom: 4px;
    font-size: 1.6rem;
    font-family: $buffer-font;
    
    .ditDahs-container, .alphanumeric-container {
        display: flex;
        width: 50%;
        font-weight: bold;
        // border: 1px solid green;
    }
    .alphanumeric-container span {
        // background: blue;
        padding-top: 0.17em;
    }
    .ditDahs-container {
        justify-content: flex-end;
        // border: 1px solid red;
        max-width: 50%;
    }

    div div {
        padding: 3px;
        margin: 2px;
        background: #fdfdfd;
        // border: 1px solid cyan;
        // width: 50%;
        white-space: nowrap;
        border-radius: $main-border-radius;
        box-shadow: $morseCard-shadow-light;
        line-height: 1em;
        display: flex;
        
        span.morseError {
            background: rgba(255,0,0,0.4);
            height: 1.7rem;
            // background: blue;
            color: rgb(120, 0, 0);
            border-radius: $main-border-radius;
            // text-decoration: line-through;
        }
    }
    
    .ditDahs {
        // border: 1px solid red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-wrap: break-word;
        font-family: $ditDah-font;
        font-weight: bold;
        max-width: 100%;
        overflow-x: hidden;

        span.space {
            border-radius: $main-border-radius;
            background: $main-bg-color-light;
            opacity: 0.5;
            width: 3px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}


// @media screen and (max-width: 415px) {
@media only screen and (max-width: 415px) {

    html, body, #root, #main-interface {
        width: 100vw;
        overflow: hidden;
    }
    #header {
        font-size: 2.1em;
        line-height: 1.2em;
        height: auto;
    }
    #playerAndLegend {
        // border: 1px solid blue;
        padding: 0 !important;
        overflow-x: hidden;
        width: 100vw;
        #legend {
            // margin-left: 2em;
            width: 100vw;
        }
    }

    #legend {
        margin-top: 0px;
        // width: 100%;
        // border: 1px solid orange;
        
        background: $main-bg-color-light;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        #legend-title {
            // border: 1px solid purple;
            margin-left: 0em;
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 0.3em;
        }
        #legend-items {
            // border: 1px solid blue;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            margin-bottom: 10px;
            .item, span {
                cursor: pointer;
            }
            
            // &#letters .item {
            //     width: 17%;
            // }
            // &#numbers .item {
            //     width: 18%;
            // }
            // &#special .item {
            //     width: 20%;
            // }
    
            .item {
                font-family: $ditDah-font;
                font-size: 0.7em;
                // height: 2em;
                // height: 2em;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                width: 20%;
    
                margin: 5px;
                padding: 0.3em;
                border: 1px solid #ccc;
                border-radius: 3px;
                transition: all 50ms ease-in-out;
                background: #ddd;
    
                border: 0px;
                background: $main-bg-color-light;
                box-shadow: $main-box-shadow-light;
                span {
                    transition: all 50ms ease-in-out;
                }
                &:active {
                    transform: scale(0.95);
                    border-color: rgba(112, 128, 144,0.6);
                    background: #ddd;
                    span:first-child {
                        background: rgba(112, 128, 144,0.6);
                    }
                }
                &:hover {
                    border-color: rgba(112, 128, 144,0.6);
                    background: #ddd;
                    span:first-child {
                        background: rgba(112, 128, 144,0.6);
                    }
                }
    
                // button {
                //     width: 20px;
                //     height: 20px;
                //     margin: 4px;
                //     border: 0px;
                //     border-radius: 2px;
                //     box-shadow: $main-box-shadow-light;
                //     &:active {
                //         transform: translateY(3px);
                //         box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
                //     }
                // }
                
                span:first-child {
                    display: inline-block;
                    padding: 1px;
                    width: 1.5em;
                    background: #d6d6d6;
                    border-radius: 2px;
                    font-size: 1.5em;
    
                    transition: all 75ms ease-in-out;
                }
                span:last-child {
                    // background: #08c;
                    // font-family: $ditDah-font;
                    font-weight: bold;
                    font-size: 1em;
                    display: inline-block;
                    padding-left: 5px;
                    width: 100%;
                }
            }
        }
    }

    #main-content {
        top: 2.5em;
        width: 100vw;
        .sidebar#left {
            min-width: 100vw;
            // z-index: -5;
            transition: all 500ms ease-in-out;

            &.hide {
                left: calc(-100vw + 40px);
                top: 50px;
                overflow-y: hidden;
                background: transparent;
                box-shadow: 0px 0px 0px transparent;
                
                #sidebar-container {
                    
                    #sidebar-content #info {
                        opacity: 0%;
                        overflow-y: hidden;
                    }
                    #info-icon {
                        // top: calc(100vh - 7em);
                        background: white;
                        &::after {
                            content: ">";
                        }
                    }
                } 
            }
            

            #sidebar-container {
                width: 100%;
                padding: 0em;

                .navbar {
                    width: 100%;
                    // z-index: 11000;
                    
                    .nav-item {
                        width: 25%;
                        // z-index: 11000;

                        &#nav-play {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                #info-icon {
                    display: none;
                }

                #sidebar-content {
                    #info {
                        width: 100%;
                        padding: 1em;
                    }
                }
            }
        }
        #main-interface {
            width: 100vw;
            left: 0;
            #morseBufferDisplay {
                // background: white;
                margin-bottom: 0px;
                height: fit-content;
                #overlay {
                    // background: blue;
                    box-shadow: inset 20px 0px 20px -5px $main-bg-color-light;
                }
                #alphanumeric-container {
                    // border: 1px solid red;
                    text-align: center;
                    max-width: 75%;
                    display: inline-block;
                    overflow: hidden;
                    padding-top: 0px;
                    
                    #alphanumeric {
                        // border: 1px solid blue;
            
                        height: 4rem;
                        padding-top: 0.45rem;
                        font-size: 3rem;
                        margin-bottom: 0px;
                        border-radius: $main-border-radius;
                        // box-shadow: $main-box-shadow-light;
                        float: right;
                    }
                }
            }
            * {
                z-index: 1000;
            }

            &.expandLeft {
                left: 0;
                width: 100vw;
            }

            #morse-history {
                // border: 1px solid blue;
                width: 95%;
                display: flex;
                justify-content: flex-end;
                #morseHistory-textbox {
                    // border: 1px solid blue;
                    width: 100%;
                    overflow-y: scroll;
                    padding: 5px;
                    margin: 0px;
                    min-height: 2.3em;
                }
                #clear-history {
                    border: 0px;
                }
            }
            #morseButton {
                margin-top: 5px;
            }


            #mainOptions {
                // border: 1px solid red;
                flex-direction: column;
                height: 10em;
                width: 100vw;
    
                #options-left, #options-right {
    
                    .mode-picker {

                        #title {
                            // border: 1px solid red;
                            justify-content: flex-end;
                            width: 5em;
                            font-weight: bold;
                            font-size: 1em;
                            span#range {
                                display: none;
                            }
                        }
                        #buttons {
                            button {
                                margin: 5px;
                            }
                        }
                        #input {
                            font-size: 0.8em;
                            input {
                                height: 1.1rem;
                                font-size: 0.8rem;
                            }
                            select {
                                height: 1.4rem;
                            }
                            button {
                                width: 1.2em;
                                height: 1.2em;
                                border-radius: 3px;
                                font-size: 1em;
                                
                                i {
                                    left: -7px;
                                    top: -3px;
                                    font-size: 1rem;
                                }
                            }
                        }
                        button {
                            font-size: 0.8em;
                            color: $main-font-color-light;
                        }
                    }
                }
            }
        }
    }
}